name = Red Hat
release = 5.1

gpg_key = gpg/RPM-GPG-KEY-redhat-5

packages = packages/redhat-5.list

[post_install]
finalize = scripts/fix_rpmdb.old-rpm.py
finalize = scripts/clean_yumbootstrap.py

[repositories]
; TODO: adjust the URL ("http://repo.example.net/rhel/" part)
; NOTE: you only need one of the two
redhat-server = http://repo.example.net/rhel/5.1/os/Server/$basearch/Server/
redhat-client = http://repo.example.net/rhel/5.1/os/Client/$basearch/Client/

[environment]
;PYTHONPATH=...
;PYTHONPATH
;SUDO_*

; vim:ft=dosini
