#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

PYTHON2_VERSIONS = $(shell pyversions -r)

export PYBUILD_NAME = yumbootstrap

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_auto_install:
	make install-notmodule DESTDIR=$(CURDIR)/debian/$(DEB_SOURCE) BINDIR=/usr/sbin SYSCONFDIR=/etc
	dh_auto_install
