#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	python setup.py build

override_dh_auto_install:
	make install-notmodule DESTDIR=$(CURDIR)/debian/tmp BINDIR=/usr/sbin SYSCONFDIR=/etc
	python setup.py install --root=$(CURDIR)/debian/tmp --prefix=/usr --exec-prefix=/usr
